@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --font-bricolage-grotesque: "Bricolage Grotesque", sans-serif;
  --font-manrope: "Manrope", sans-serif;

  --color-heading: var(--heading);
  --color-subheading: var(--subheading);
  --color-brand: #f9f6ff;

  /* /_ Product Colors _/ */
  --color-accent-yellow-100: #fefaec;
  --color-accent-yellow-200: #fcefc7;
  --color-accent-yellow-300: #f9df90;
  --color-accent-yellow-400: #f7d46b;
  --color-accent-yellow-50: #fffdf6;
  --color-accent-yellow-500: #f5c946;
  --color-accent-yellow-600: #c8a438;
  --color-accent-yellow-700: #9a7e2a;
  --color-accent-yellow-800: #6d591d;
  --color-accent-yellow-900: #564616;
  --color-accent-yellow-950: #292108;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e5e5e5;
  --color-neutral-300: #d4d4d4;
  --color-neutral-400: #a3a3a3;
  --color-neutral-50: #fafafa;
  --color-neutral-500: #737373;
  --color-neutral-600: #525252;
  --color-neutral-700: #404040;
  --color-neutral-800: #262626;
  --color-neutral-900: #171717;
  --color-neutral-950: #0a0a0a;
  --color-primary-50: #f9f6ff;
  --color-primary-100: #f0eafb;
  --color-primary-200: #e2d5f6;
  --color-primary-300: #c5abed;
  --color-primary-400: #a781e5;
  --color-primary-500: #8a57dc;
  --color-primary-600: #6d2dd3;
  --color-primary-700: #411b7f;
  --color-primary-800: #2c1254;
  --color-primary-900: #16092a;
  --color-primary-950: #0b0515;

  --color-semantic-error-100: #fef3f2;
  --color-semantic-error-200: #fee4e2;
  --color-semantic-error-300: #fecdca;
  --color-semantic-error-400: #fda29b;
  --color-semantic-error-50: #fffbfa;
  --color-semantic-error-500: #f97066;
  --color-semantic-error-600: #f04438;
  --color-semantic-error-700: #d92d20;
  --color-semantic-error-800: #b42318;
  --color-semantic-error-900: #912018;
  --color-semantic-error-950: #7a271a;
  --color-semantic-success-100: #d2f1df;
  --color-semantic-success-200: #abe0c7;
  --color-semantic-success-300: #79c8a5;
  --color-semantic-success-400: #409773;
  --color-semantic-success-50: #f4fcf9;
  --color-semantic-success-500: #308a69;
  --color-semantic-success-600: #226a50;
  --color-semantic-success-700: #1c5240;
  --color-semantic-success-800: #173f32;
  --color-semantic-success-900: #133229;
  --color-semantic-success-950: #0c1b18;
  --color-semantic-warning-100: #fffaeb;
  --color-semantic-warning-200: #fef0c7;
  --color-semantic-warning-300: #fedf89;
  --color-semantic-warning-400: #fec84b;
  --color-semantic-warning-50: #fffcf5;
  --color-semantic-warning-500: #fdb022;
  --color-semantic-warning-600: #f79009;
  --color-semantic-warning-700: #dc6803;
  --color-semantic-warning-800: #b54708;
  --color-semantic-warning-900: #93370d;
  --color-semantic-warning-950: #7a2e0e;
  --color-semantic-info-100: #f0f9ff;
  --color-semantic-info-200: #e0f2fe;
  --color-semantic-info-300: #b9e6fe;
  --color-semantic-info-400: #7cd4fd;
  --color-semantic-info-50: #f8fcff;
  --color-semantic-info-500: #36bffa;
  --color-semantic-info-600: #0ba5ec;
  --color-semantic-info-700: #0086c9;
  --color-semantic-info-800: #026aa2;
  --color-semantic-info-900: #065986;
  --color-semantic-info-950: #0b4a6f;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.4896 0.231 293.29);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.9702 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --heading: oklch(0.145 0 0);
  --subheading: oklch(0.5555 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-bricolage-grotesque;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@layer utilities {
  .bg-gradient-cta {
    @apply bg-gradient-to-b  from-[#A781E5] to-primary text-primary-foreground;
  }

  .animate-slide-in {
    animation: slide-in 0.5s ease-out;
  }

  @keyframes slide-in {
    from {
      opacity: 0.5;
      transform: translateX(30px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
